<h1 class="text-center">Danh sách sản phẩm</h1>
<button><a routerLink="/product/create">Thêm mới sản phẩm</a></button>
<br>
<button><a routerLink="/category">danh sách danh mục</a></button>
<br>
<div class="form-group col-md-4">
  <input type="text"  placeholder="input search" [(ngModel)]="keyWord">
</div>
<br>
<table class="container table table-bordered table-striped">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Danh mục</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let product of products | filter:keyWord | paginate: {itemsPerPage: 2, currentPage: p} ; index as i">
    <td>{{p*2+i-1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
    <td>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="changeId(product.id)">
      Delete
    </button>
    </td>

  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteModal()">Delete</button>
      </div>
    </div>
  </div>
</div>
